<div class="card">
        <div class="blog-title"><h2><%= link_to post.title, post %></h2></div>
        <div class="blog-snippet"><%= post.body %></div>
        <div class="blog-date"><%= post.created_at.to_date %></div>
</div>