<div class="feed">
    <% @posts.reverse.each do |post| %>
        <%= render post  %>
    <% end %>

    <button class="new-post-button">
        <%= link_to "New post", new_post_path %>
    </button>
</div>