.header {
    background-color: #ffffff;
    padding: 4em 3em 1em 3em;
}

.profile {
    display: flex;
    gap: 0.6em;
    align-items: center;
}

.profile>img {
    height: 80px;
    background-color: black;
}

.profile>.name {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile>.name>p {
    padding: 0;
    margin: 0;
    font-weight: bold;
}

.profile>.name>p:last-child {
    font-size: 40px;
}