<div class="header">
    <div class="profile">
        <%# <img src="assets/odin-lined.png" alt="logo"> %>
        <%= image_tag 'odin-lined', alt: 'logo' %>
        <div class="name">
            <p>A blog by,</p>
            <p>Viscount Wathika</p>
        </div>
    </div>
</div>